body{
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

h1, h2{
    margin-top: 0;
    font-family: 'Playfair Display', serif;
    color: #824936;
}

h2 {
    font-size: 2rem;
}

h3 {
    color: #F3EED9;
    margin-top: 0;
}

section {
    color: white;
    font-size: 1.5rem;
}

img {
    border: 0;
}

.black {
    background-color: #222C2A;
}

.poop{
    background-color:#824936;
}

.hero {
    background-color: #F3EED9;
}

.hero__container{
    min-height: 660px;
    max-width: 1128px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__text{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.hero__text--title {
    font-size: 4rem;
}

.hero__text--p {
    margin-bottom: 0.2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.container {
    max-width: 1128px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 3rem;
    
    @media(min-width:800px){
        flex-direction: row;
        padding: 4rem 5rem;
    }
}

.row__item {
    
    @media(min-width:800px){
        width: 47%;
        text-align: left;
    }
}

.reverse {
    @media(min-width:800px){
        flex-direction: row-reverse;
    }
}

.quality {
    margin-top: 4rem;
    text-align: center;
    color: black;
}

.quality .row{
    padding-top: 0;
}